:root {
  --white: #fff;
  --pink: #ff3366;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background: var(--white);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

h1 {
  color: var(--black);
  padding: 20px;
}

main {
  align-items: center;
  justify-content: center;
  display: flex;
}

table th {
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.text-field input {
  padding: 10px;
  margin: 3px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 240px;
  border: none;
  border-radius: 2px;
}

.text-field input[type="color"] {
  height: 90px;
  width: 150px;
}

.register {
  width: 400px;
  height: 100%;
  background: #f0f0f0;
  padding: 40px;
  margin: 130px;
  border-radius: 4px;
}

.button-submit {
  cursor: pointer;
  background: var(--pink);
  width: 415px;
  height: 48px;
  padding: 0 8px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: var(--white);
  margin-top: 12px;
}

.button-delete {
  cursor: pointer;
  background: var(--pink);
  width: 40px;
  height: 40px;
  padding: 0 8px;
  border-radius: 4px;
  border: none;
  color: var(--white);
  margin: 12px;
}

.thumbnail {
  width: 100px;
  height: 100px;
  border-radius: 6px;
  object-fit: cover;
}
