:root {
  --white: #fff;
  --pink: #ff3366;
  --shape: #0a0a0a10;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  display: flex;
}

body {
  background: var(--black);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.header h1 {
  margin-top: 50px;
  justify-content: center;
  color: var(--white);
  font-size: 50px; 
  margin-left: 35vw;
}

.navigation {
  color: var(--white);
  display: flex;
  align-items: center;
  margin: 20px 0 0 35vw;
  width: 100%;
}

.navigation li {
  cursor: pointer;
  display: flex;
  color: var(--white);
}

.navigation li:not(.navigation li:first-child) {
  margin-left: 16px;
}

.sidebar {
  max-width: 25vw;
  padding: 45px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: var(--shape);
}

.sidebar h1 {
  font-weight: 900;
  font-size: 35px;
  line-height: 78px;
  color: var(--pink);
}

.sidebar h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: var(--white);
  margin-top: 18px;
}

.sidebar p {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: var(--white);
  margin-top: 22px;
}

button.primary {
  width: 172px;
  background: var(--pink);
  height: 48px;
  padding: 0 6px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: var(--white);
  margin-top: 22px;
}

.main {
  margin-left: 35vw;
  margin-top: 30px;
  max-width: 500px;
  display: grid;
  grid-gap: 16px;
}

.main h1 {
  font-weight: 900;
  font-size: 48px;
  color: var(--pink);
}

.main .goal {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: var(--white);
}

.main .participation {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: var(--white);
}

.main .live {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: var(--white);
}

button.secondary {
  background: var(--pink);
  width: 160px;
  height: 48px;
  padding: 0 8px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: var(--white);
  margin-top: 12px;
}

.footer p {
  font-size: 16px;
  line-height: 28px;
  color: var(--white);
  margin-left: 35vw;
  margin-top: 100px;
}